<div class="col-xs-12 col-lg-4 col-md-6 col-sm-8">
<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :community_id, value: $current_community.id %>
  <div class="form-inputs">
    <%= f.input :no do %>
      <%= f.text_field :no, class: "form-control" %>
    <% end %>

    <%= f.input :reference do %>
      <%= f.text_field :reference, class: "form-control" %>
    <% end %>

    <%= f.input :text do %>
      <%= f.text_area :text, class: "form-control" %>
    <% end %>
    <%= f.input AssignmentStatus.model_name.human do %>
      <%= f.select :assignment_status_id, AssignmentStatus.where(:community_id => $current_community.id).collect { |as| [ as.status, as.id ] } %>
    <% end %>
    <%= f.input :duedate do %>
      <%= f.text_field :duedate, data: { :provide => 'datepicker' }, class: "form-control" %>
    <% end %>
    <%= f.input User.model_name.human do %>
      <%= f.select :user_id, $current_community.users.where.not(:first_name => nil).order(:first_name, :last_name).collect { |u| [ u.first_name.to_s+" "+u.last_name.to_s+" ("+u.apartment.address.to_s+")", u.id ] }, include_blank: t('Not assigned') %>
    <% end %>
    <%= f.input :comment do %>
      <%= f.text_field :comment, class: "form-control" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("Save") %>
  </div>
<% end %>
</div>
<div class="clearfix"></div>
