<%= render('links') %>
<div class="printout">
<table class="table">
  <thead>
    <tr>
      <th><%= Assignment.human_attribute_name("no") %></th>
      <th><%= Assignment.human_attribute_name("text") %></th>
      <th><%= AssignmentUpdate.human_attribute_name("updated_at") %></th>
      <th><%= AssignmentUpdate.human_attribute_name("update_text") %></th>
      <th><%= AssignmentStatus.human_attribute_name("status") %></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.order('assignment_statuses.order_key').each do |assignment| %>
      <tr>
        <td><%= assignment.no %></td>
        <td><%= assignment.text %></td>
        <% assignment_update = assignment.assignment_updates.order(updated_at: :desc).first %>
        <td><% if not assignment_update.nil? then %><%= localize(assignment_update.updated_at, :format => t('date.formats.default') ) %><% end %></td>
        <td><% if not assignment_update.nil? then %><%= simple_format(assignment_update.update_text) %><% end %></td>
        <td><%= assignment.assignment_status.status if not assignment.assignment_status.nil? %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<p><i><%= t('printdate') %>: <%= localize(Time.now, :format => t('time.formats.default')) %></i></p>
</div>
