<p>
  <strong><%= User.human_attribute_name("email") %>:</strong>
  <%= @user.email%>
</p>

<p>
  <strong><%= t("Name") %>:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<%= link_to t('Edit'), edit_user_path(@user) %> |
<%= link_to t('Back'), user_path %>
