<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<% if current_user.is_administrator %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', user_path %>
