<h2><%= @apartment.address %> (<%= @apartment.apartment_no %>)</h3>
<h3><%= t("Existing user") %></h3>
  <table class="table">
    <thead>
      <tr>
        <th><%= t("Email") %></th>
        <th><%= t("First name") %></th>
        <th><%= t("Last name") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @apartment.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= form_for user, method: :put, :remote => true do |f| %>
          <%= f.hidden_field :apartment_id, :value => nil %>
          <%= f.submit t("Unconnect user"), data: { confirm: t("Are you sure?") } %>
           <% end %>
        </td>
      </td>
    <% end %>
    </tbody>
  </table>

<h3><%= t("Add user") %></h3>
<%= form_for @user, method: "post", :remote => true do |f| %>
  <div class="field">
    Email<br>
    <%= f.text_field(:email) %>
  </div>
  <div class="field">
    Password:<br>
    <%= f.text_field(:password) %>
  </div>
  <div class="field">
    Password confirmation:<br>
    <%= f.text_field(:password_confirmation) %>
  </div>
  <div class="field">
  <%= f.hidden_field :apartment_id, value: @apartment.id %>
  <%= f.submit(t("Create user")) %>
  </div>
<% end %>
<% if @user and  @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
     <li><%= message %></li>
  <% end %>
<% end %>

<div class="pull-right"><%= link_to t("Update fees"), action: 'update_fees' %></div>

