<h1>Movement</h1>
<%= t("Apartment no") %>: <%= @apartment.apartment_no %><br>
<%= t("Address") %>: <%= @apartment.address %><br>
<h3><%= t("Users") %></h3>
<% @apartment.users.each do |user| %>
<%= user.first_name %> <%= user.last_name %> <%= user.email %> 
<%= link_to t('Edit'), edit_user_path(user) %> 
<%= link_to t('Destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
<% end %>

<h3><%= t("Add user") %></h3>
<%= form_tag({controller: "moves", action: "add_user"}, method: "post") do %>
  Email: <%= text_field_tag(:email) %>
  Password: <%= text_field_tag(:password) %>
  Password confirmation: <%= text_field_tag(:password_confirmation) %>
  <%= hidden_field_tag(:apartment_id, @apartment.id) %>
  <%= submit_tag(t("Create user")) %>
<% end %>
<% if @user and @user.error.any? %>
  <% @user.errors.full_messages.each do |message| %>
     <li><%= message %></li>
  <% end %>
<% end %>

<h3><%= t("Add input") %></h3>
<% current_user.community.fees.each do |fee| %>
  <% if fee.fee_type == Fee.fee_type_values[:user_input] %>
    Add <%= fee.name %> input: <input type="text"> <input type="submit" value="Add input">
    
  <% end %>
<% end %>
<%= link_to 'Back', apartments_path %>
