<% if user_signed_in? %>
  <% if not current_user.apartment.nil? then %>
    <div id="user-services">
    <p>
      Welcome <%= @current_user.first_name %>!
    <p>
      You are currently connected to apartment at address <%= $current_apartment.address %> in the community <%= $current_community.name %>
    </p>
    <%= render('links') %>
  <% else %>
    <p>Your user is not yet connected to a apartment, contact your estate manager.</p>
  <% end %>
  </div>

<% else %> 
  <p>
    This is the application that makes it easy to maintain a building with a community.
  </p>
  <p>
    Please <%= link_to t("Sign up"), new_user_registration_path, :class => 'navbar-link'  %> and connect to your community today.
  </p>
<% end %>
