<% if user_signed_in? %>
  <div id="user-services">
  <p>
    Välkommen <%= current_user.first_name %>!
  <% if not current_user.apartment.nil? then %>
    <p>
      Du är kopplad till lägenhet på adress <%= $current_apartment.address %> på området <%= $current_community.name %>
    </p>
    <%= render('links') %>
  <% else %>
    <p>Din användare är ännu inte ansluten till en lägenhet, kontakta din fastighetsansvariga.</p>
  <% end %>
  </div>

<% else %> 
  <p>
    Den här applikationen gör det enkelt att ta hand om dina byggnader eller förening.
  </p>
  <p>
     <%= link_to t("Sign up"), new_user_registration_path, :class => 'navbar-link'  %> och koppla upp din förening idag.
  </p>
<% end %>
