<%= form_for(@fee_transaction) do |f| %>
  <% if @fee_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee_transaction.errors.count, "error") %> prohibited this fee_transaction from being saved:</h2>

      <ul>
      <% @fee_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, :data => { :provide => 'datepicker' } %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date, :data => { :provide => 'datepicker' } %>
  </div>
  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type do %>
      <%= options_for_select([[t('input'), 'input'], [t('debt'), 'debt'], [t('payment'), 'payment']]) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :fee_id %><br>
    <%= f.select :fee_id, Fee.where(:community_id => $current_community.id) %>
  </div>
  <div class="field">
    <%= f.label :apartment_id %><br>
    <%= f.text_field :apartment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
