<p id="notice"><%= notice %></p>

<h1>Listing Fees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Payment interval</th>
      <th>Currency</th>
      <th>Unit</th>
      <th>Community</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.name %></td>
        <td><%= fee.payment_interval %></td>
        <td><%= fee.currency %></td>
        <td><%= fee.unit %></td>
        <td><%= fee.community %></td>
        <td><%= link_to 'Show', fee %></td>
        <td><%= link_to 'Edit', edit_fee_path(fee) %></td>
        <td><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee', new_fee_path %>
