<p id="notice"><%= notice %></p>

<h1>Listing Fee Rates</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Rate apartment</th>
      <th>Rate cost</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fee_rates.each do |fee_rate| %>
      <tr>
        <td><%= fee_rate.start_date %></td>
        <td><%= fee_rate.end_date %></td>
        <td><%= fee_rate.rate_apartment %></td>
        <td><%= fee_rate.rate_cost %></td>
        <td><%= fee_rate.fee %></td>
        <td><%= link_to 'Show', fee_rate %></td>
        <td><%= link_to 'Edit', edit_fee_rate_path(fee_rate) %></td>
        <td><%= link_to 'Destroy', fee_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee rate', new_fee_rate_path %>
