<%= form_for(@apartment) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :apartment_no %><br>
    <%= f.text_area :apartment_no %>
  </div>
  <div class="field">
    <%= f.label :moved %><br>
    <%= f.text_area :moved %>
  </div>
  <%= f.hidden_field :community_id, value: current_user.community.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
