<p id="notice"><%= notice %></p>

<h1><%= t("Apartments") %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t("Address") %></th>
      <th><%= t("Apartment no") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.address %></td>
        <td><%= apartment.apartment_no %></td>
        <td><%= link_to t('Show'), apartment %></td>
        <% if current_user.admin? %>
        <td><%= link_to t('Edit'), edit_apartment_path(apartment) %></td>
        <td><%= link_to t('Destroy'), apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Apartment'), new_apartment_path %>
