<table class="table">
      <thead>
        <tr>
          <th><%= t("Date") %></th>
          <th><%= FeeTransaction.human_attribute_name("transaction_type") %></th>
          <th><%= FeeTransaction.human_attribute_name("value") %></th>
          <th><%= t("Action") %></th>
        </tr>
      </thead>
      <tbody>
        <% @fee_transactions.each do |ft_item| %>
        <tr>
          <td><%= ft_item.start_date %></td>
          <td><%= t(ft_item.transaction_type) %></td>
          <td><%= ft_item.value %> <% if ft_item.is_currency %><%= @fee.currency %><% else %><%= @fee.unit %><% end %></td>
          <td>
            <% if ft_item.transaction_type == "input" or current_user.admin?(:apartment => ft_item.apartment) %>
              <%= link_to t('Destroy'), ft_item, method: :delete, data: { confirm: t('Are you sure?') }, :remote => true, :class => '' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

