<h2><%= t(@fee.name) %></h2>
<div id="fee-information" class="col-md-12 col-xs-12">
  <%= Apartment.human_attribute_name("address") %> <%= $current_apartment.address %><br/>
  <%= t("Current fee") %>: <%= (@current_payment.nil? ? "N/A" : @current_payment.value ) %> 
  <%= @fee.currency %> (<%= t(@fee.payment_interval) %>)
</div>
<div class="row">
  <div id="fee-table" class="col-md-6 col-xs-12">
    <%= render('fee_transactions_table') %>
  </div>
</div>
<div class="row">
  <div id="fee-input" class="clearfix col-md-6 col-xs-12">
    <% if @fee.fee_type == Fee.fee_type_values[:user_input]  %>
      <%= render('add_input') %>
    <% end %>
  </div>
</div>
