<h2><%= t(@fee.name) %></h2>
<%= t("Address") %> <%= @apartment.address %><br/>
<%= t("Current fee") %>: <%= (@current_payment.nil? ? "N/A" : @current_payment.value ) %> <%= @fee.currency %> (<%= t(@fee.payment_interval) %>)<br><br>
<table class="table">
  <thead>
    <tr>
      <th><%= t("Date") %></th>
      <th><%= t("Transaction type") %></th>
      <th><%= t("Value") %></th>
      <th><%= t("Action") %></th>
    </tr>
  </thead>
  <tbody>
<% for ft_item in @ft.order(:start_date).reverse %>
    <tr>
      <td><%= ft_item.start_date %></td>
      <td><%= t(ft_item.transaction_type) %></td>
      <td><%= ft_item.value %> <% if ft_item.is_currency %><%= @fee.currency %><% else %><%= @fee.unit %><% end %></td>
      <td>
        <% if ft_item.transaction_type == "input" %>
          <%= link_to 'Destroy', ft_item, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => '' %> 
        <% end %>
      </td>
    </tr>
<% end %>
</tbody>
</table>
<% if @fee.fee_type != 0  %>
<p> 
<%= render('add_input') %>
</p>
<% end %>
<p>
</p>
