<!DOCTYPE html>
<html>
<head>
  <title>BostadLite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function () {
      $.fn.datepicker.defaults.format = "<%= t('dateformat') %>";
    });
  </script>
</head>
<body style="width:400px">
  <header id="header">
    <h1><%= t("BostadLite") %></h1>
      <div id="topmenu" class="">
        <ul>
          <li class="pull-left">
            <%= link_to t("Home"), controller: "/static", action: "index" %> 
          </li>
 	 <li id="right-menu" class="pull-right">
         <% if user_signed_in? %>
           <!--<%= t("Logged in as") %> <strong><%= current_user.email %></strong> | -->
           <%= link_to t('Edit profile'), edit_user_registration_path, :class => 'navbar-link' %> | 
           <%= link_to t("Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 
         <% else %>
           <%= link_to t("Sign up"), new_user_registration_path, :class => 'navbar-link'  %> |
           <%= link_to t("Login"), new_user_session_path, :class => 'navbar-link'  %>
         <% end %>
         </li>
      </div>
  </header>
  <div id="main" class="clearfix">
    <% if notice %>
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <footer class="clearfix">
  </footer>

</body>
</html>
